.container {
  padding: 0;
  margin: 0;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
BANNER
*/
.banner-wrapper{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #353535;
  padding: 0;
  margin: 0;
}
.banner{
  margin: 0;
  padding: 0;
  border: none;
  background-color: #353535;
  filter: saturate(0%);
  text-align: center;
}
/*
BANNER
*/

/*
IMAGES BOTTLES
*/

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  
}

.image{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
/*
IMAGES BOTTLES
*/
